@import 'react-toastify/dist/ReactToastify.css';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.initailScreen {
    position: absolute;
    top: 1%;
    right: 1%;
    left: 2%;
    bottom: 1%;
    width: 95%;
    height: 95%;
    max-width: 100%;
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.1) inset;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    overflow: hidden;
    /* Ensure image doesn't overflow */
    opacity: 90%;
    z-index: 9999;
}

.initailScreen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./.././logo/Locomotive1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hue;

    filter: blur(8px);
    /* Applies blur to the background image */
    opacity: 0.6;
    /* Reduces opacity of the background image */
    z-index: -1;
    /* Places it behind the content */
}

.initailScreen img {
    width: 100%;
    height: 100%;
    max-width: 200px;
}

.initailScreen .image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
}

.initailScreen_top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.initailScreen {
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
}

.initailScreen .loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initailScreen .overlay-text {
    margin: 0;
    border-left: 5px solid red;
    color: white;
    font-size: 45px;
    font-weight: bold;
    color: red;
    padding-left: 30px;
    width: 100%;
}

.initailScreen .overlay-text span {
    display: block;
    color: #0000ff;
}

/* Styles for the logo */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo-image {
    width: 80px;
    /* Adjust size as needed */
    height: auto;
    display: block;
    opacity: 0.8;
    margin: 0 auto;
}

.logo-text {
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    // -webkit-text-stroke: 1px #F8F8F8;
    // text-shadow: 0px 1px 4px #fff;
    color: red;
    opacity: 0.8;
}

.logo-text span {
    display: block;
}

.controlButton {
    position: absolute;
    display: inline-flex;
    border-radius: 50%;
    background-color: grey;
    bottom: 2%;
    left: 50%;
    height: 4%;
    width: 3%;
    transform: translateX(-50%);
    background-image: url("./.././icons/downArrow.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position-x: center;

    // background-clip: content-box;
}

.upArrow {
    transform: rotateX(180deg);
}

.controllbuttonHidden {
    bottom: 15%; /* Adjust button position when the control bar is hidden */
  }
.MuiTooltip-tooltip {
 
    font-size: 14px;
        // background: #fff;
    // color: #000;
    text-transform: capitalize;
}
.MuiTooltip-tooltip::before{
    background-color: #fff;
}

.button-container{
    display: flex ;
        flex-wrap: wrap;
        max-width: 50px;
        padding: 10px;
        gap: 10px;
        height: max-content;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
        transition: transform 0.3s ease, opacity 0.3s ease;
}

.buttons {
    position: absolute;
    display: inline-flex;
    border-radius: 15px;
    gap: 5px;
    padding: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    // background-color: grey;

    button,
    select,
    .speedometer {
        border-radius: 12px;
        border: 1px solid transparent;
        padding:6px 8px;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        // background-color: #1a1a1a;
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
        text-align: center;
        overflow: hidden;
        line-height:1;
        text-transform: capitalize;
        width: max-content;
    }

    button[disabled] {
        color: gray;
        cursor: default;
    }

    .speedometer {
        cursor: default;
        min-width: 65px;
        position: relative;

        &::before {
            z-index: 0;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: var(--speed);
            background-color: #878be3;
        }

        span {
            position: relative;
            z-index: 1;
        }
    }

    button {
        cursor: pointer;
        transition: border-color 0.25s;
    }

    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    button.active {
        background-color: #b17270;
    }

    button.signaled {
        background-color: #a52c2c;
    }

    button:not(.active):not(.signaled):not([disabled]):hover {
        border-color: #4d53bc;
    }
}


.spacer {
    display: none;
    width: 2px;
    background-color: #cfcfcf;
}

#root {
    width: 100vw;
    height: 100vh;
    position: relative;
}


// Popup 
.popUpContainer {
    position: absolute;
    top: 3%;
    right: 1%;
    // transform: translateX(-50%);
    gap: 3%;
    width: 20%;
    max-width: 100%;
    padding: 25px;
    border-radius: 15px;
    background: #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.1) inset;
    /*     backdrop-filter: blur(10px); */
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.notification-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
}

.notification-banner::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    // background: linear-gradient(135deg, rgba(0, 255, 255, 0.5), rgba(255, 0, 255, 0.5), rgba(0, 0, 255, 0.5));
    filter: blur(10px);
    z-index: -1;
}

.icon img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}

// .icon::after {
//     content: '✉️';
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 70%;
//     height: 70%;
//     font-size: 1.6rem;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     opacity: 0.9;
//     transform: translate(-50%, -50%);
// }

.notification-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.notification-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: white;
    // text-shadow: 0 0 5px #0ff;
}

.notification-subtitle {
    font-size: 0.9em;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}

.notification-body {
    font-size: 0.9em;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
}

.timestamp {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    align-self: flex-end;
}

.block-btn,
.allow-btn {
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 -20px 0;
    transition: all 0.3s ease-in-out;
}

.block-btn {
    border: 1px solid white;
    font-weight: bold;
    color: #cfcfcf;
}

.block-btn:hover {
    background-color: #cfcfcf;
    border-color: "white";
    color: #a30000;
}

.allow-btn {
    border: 1px solid #9eebaf;
    margin-left: 15px;
    color: #0abe31;
}

.allow-btn:hover {
    background-color: #e0f7e8;
    border-color: #0abe31;
    color: #0a7b22;
}

.popup-buttons {
    // position: absolute;
    right: 30px;
    bottom: 30px;
}

#EngineAudioBtn {
    background-color: rgb(246, 246, 246);
    position: static;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-around;
}

.loaderContainer {
    position: 'fixed';
    top: 35%;
    left: 35%;
    width: '100%';
    height: '100%';
    background: '#1e1e1e';
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center';
    z-index: 9999;
}

.loaderText {
    color: '#fff';
    font-size: '1.5em';
    margin-bottom: '10px';

}

.progressBar {
    width: '60%';
    height: '10px';
    background: '#444';
    border-radius: '5px';
    overflow: 'hidden';
}

.progress {
    height: '100%';
    background: '#4caf50';
    transition: 'width 0.3s ease-in-out';
    width: '100%';
}


.MuiTooltip-tooltip {

    font-size: 14px;
    // background: #fff;
    // color: #000;
    text-transform: capitalize;
}

.MuiTooltip-tooltip::before {
    background-color: #fff;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 50px;
    padding: 10px;
    gap: 10px;
    height: max-content;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}


.dropdown-menu {
    width: 120px;
}

.dropdown-menu::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 99;
    border: 8px solid;
    border-color: transparent #ffffff transparent transparent;
    left: -15px;
    top: 12px;

}

.dropdown-item {
    color: #000;
}

#EngineAudioBtn {
    // background-color: rgb(246, 246, 246);
    position: static;
    display: flex;
    align-items: center;
    color: #000;
    justify-content: space-around;
}

